USE [master]
GO
/****** Object:  Database [market]    Script Date: 21.05.2024 17:18:54 ******/
CREATE DATABASE [market]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'market', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\market.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'market_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\market_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [market].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [market]
GO
/****** Object:  Table [dbo].[BasketProducts]    Script Date: 21.05.2024 17:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketProducts](
	[idBasketProduct] [int] IDENTITY(1,1) NOT NULL,
	[nameProductB] [nvarchar](50) NULL,
	[customerB] [nvarchar](50) NULL,
	[quantity] [int] NULL,
	[expiration] [date] NULL,
	[priceB] [float] NULL,
	[sale] [float] NULL,
	[barcode] [nvarchar](max) NULL,
 CONSTRAINT [PK_BasketProducts] PRIMARY KEY CLUSTERED 
(
	[idBasketProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 21.05.2024 17:18:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[idProducts] [int] IDENTITY(1,1) NOT NULL,
	[nameProducts] [nvarchar](50) NOT NULL,
	[customer] [nvarchar](50) NOT NULL,
	[quantity] [int] NOT NULL,
	[expiration] [date] NULL,
	[price] [float] NOT NULL,
	[sale] [float] NULL,
	[barcode] [nvarchar](max) NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[idProducts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
